@model List<ModelsLibrary.CustomerModel>

@{
  ViewData["Title"] = "DisplayCustomerDetails";
}

<h1>Search results</h1>
<hr />
<br />

@foreach (var customer in Model)
{
  <h1>
    <a class="navbar-brand" asp-route-customerId="@customer.CustomerId" asp-controller="History" asp-action="SeeCustomerHistory">
      @customer.FirstName @customer.LastName
    </a>
  </h1>
  <h2>(@customer.Username)</h2>
  <h3>Signed up on @customer.SignupDate.ToString("yyyy-MM-dd")</h3>
  <br /><br />
}

@Html.ActionLink("Back to home", "Index", "Home") |
@Html.ActionLink("Search another customer", "Search")
