@model ModelsLibrary.CheckoutItemDetails
@{
    ViewData["Title"] = "SpecifyQuantity";
}

<h1>Specify a quantity</h1>
<hr />
<br />

<h1>@Model.ItemName</h1>
<h2>In stock: @Model.InStock</h2>
<form asp-action="SeeCart">
  <input style="display: none;" name="itemId" value="@ViewBag.ItemId" />
  <label>Quantity: <input type="number" min="1" max="@ViewBag.InStock" name="qty" /></label>
  <input type="submit" value="Add to Cart" />
</form>

<div>
  @Html.ActionLink("See cart", "SeeCart", "Ordering")
</div>