@model ModelsLibrary.CustomerModel

@{
  ViewData["Title"] = "Signup!";
}
@{
  Layout = "~/Views/Shared/_Layout_Signed_Out.cshtml";
}

<style>
  .form-style {
    display: table;
    margin: 15% auto 20px auto;
    width: 30%;
    box-shadow: black 10px 10px 10px;
    padding: 15px;
  }

  .thin-border {
    border: 1px solid black;
    border-radius: 20px;
  }

  .center {
    text-align: center;
  }
</style>

<h1>Make an account</h1>

<h4>Fill out the following information:</h4>
<hr />

<div class="row">
  <div class="col-md-4 form-style thin-border">
    <form asp-action="VerifyCreateCustomer">
      <div asp-validation-summary="ModelOnly" class="text-danger"></div>
      <div class="form-group">
        <label asp-for="FirstName" class="control-label"></label>
        <input asp-for="FirstName" class="form-control" />
        <span asp-validation-for="FirstName" class="text-danger"></span>
      </div>
      <div class="form-group">
        <label asp-for="LastName" class="control-label"></label>
        <input asp-for="LastName" class="form-control" />
        <span asp-validation-for="LastName" class="text-danger"></span>
      </div>
      <div class="form-group">
        <label asp-for="Username" class="control-label"></label>
        <input asp-for="Username" class="form-control" />
        <span asp-validation-for="Username" class="text-danger"></span>
      </div>
      <div class="form-group">
        <label asp-for="Password" class="control-label"></label>
        <input asp-for="Password" class="form-control" />
        <span asp-validation-for="Password" class="text-danger"></span>
      </div>
      <div class="form-group">
        <label asp-for="DefaultStoreId" class="control-label"></label>
        <br />
        <select asp-for="DefaultStoreId">
          @foreach (var location in ViewBag.StoreLocations)
          {
            <option value="@location.StoreId">@location.StoreLocation</option>
          }
        </select>
      </div>
      @Html.HiddenFor(c => c.FirstName)
      @Html.HiddenFor(c => c.LastName)
      @Html.HiddenFor(c => c.Username)
      @Html.HiddenFor(c => c.Password)
      @Html.AntiForgeryToken()
      <!--SignupDate field is not shown because the date is defined in the constructor of the Customer class-->
      <div class="form-group center">
        <input type="submit" value="Next" class="btn btn-primary" />
      </div>
    </form>
  </div>
</div>

<div class="center">
  @Html.ActionLink("Back to Landing", "Index", "Landing") |
  @Html.ActionLink("Login here", "LoginCustomer", "Login")
</div>

@section Scripts {
  @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
