@model ModelsLibrary.CustomerModel

@{
  ViewData["Title"] = "VerifyLoginCustomer";
}

<h1>VerifyLoginCustomer</h1>

<dl>
  <dt class="col-sm-2">
    @Html.DisplayNameFor(model => model.Username)
  </dt>
  <dd class="col-sm-10">
    @Html.DisplayFor(model => model.Username)
  </dd>
  <dt class="col-sm-2">
    @Html.DisplayNameFor(model => model.Password)
  </dt>
  <dd class="col-sm-10">
    @Html.DisplayFor(model => model.Password)
  </dd>
</dl>

<div>
  @Html.ActionLink("Home", "Index", Model)
</div>

